body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-size: 16px;
  line-height: 1.4285em;
  color: #000000de;
  font-family:'Roboto', sans-serif;;
}

.headerLogin{
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #43505C;
}
.login{
  display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container-height{
  height: 100vh;
}


.button{
  background-color: #6558F5;
  color: white;
  font-size: 17px;
  padding: 0.475rem 1.13rem;
}
.button:hover{
  color: white;
}
#sidebarMenu{
  border-right: 2px solid #C3CFD9;
  font-size: 20px;
  color: #293845;
}

#sidebarMenu .nav-link {
  color: #6558F5;
  text-transform: uppercase;
}
.options{
  margin-top: 50%;
}
.main{
  height: 100vh;
}
.main .h-100{
  overflow: auto;
}
.form-group{
  margin-bottom: 1em;
}

.form-group .form-control{
  border: 2px solid #ced4da;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
  border-color: #dc3545; 
}
.container-form form{
  margin: auto;
}
.container-home{
  margin-top: 15%;
}
.btn.btn-primary{
  background-color: #6558F5;
  font-size: 17px;
  padding: 0.475rem 1.13rem;
}
.btn.btn-secondary{
  font-size: 17px;
  padding: 0.475rem 1.13rem;
}

.container-search{
  margin-top: 4rem;
}
.container-search .formSearch{
  margin-left: 4rem;
}
.container-search .formSearch .indicators{
  justify-content: center;
  font-size: 20px;
  color: #6558F5;
  display: flex;
  text-align: center;
  margin: 1rem 1rem 2rem;
}
span {
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
span:after {
  content: '';

  width: 100%;
  position: absolute;
  left: 0;
  bottom: 2px;

  border-width: 0 0 2px;
  border-style: solid;
}

.items-search{
  border: 2px solid #ced4da;
}
hr{
  border: 1px solid #d3d3d3
}
@media screen and (max-width: 992px) {
  .container-search .formSearch{
    margin: auto;
  }
}